header {
    background-color: var(--primary-color);
    padding: 20px 20px;
  }

  
  nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px; 
  }
  
  nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
  }
  
 
  
  