header {
    background-color: var(--primary-color);
    padding: 20px 20px;
  }

  button,svg, a, input[type="button"], input[type="submit"] {
    cursor: pointer;
  }
  nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px; 
    
  }
  
  nav a {
    width: 81px;
height: 24px;
gap: 0px;
opacity: 0px;

    color: white;
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
  }
  
  .color-picker {
    display: flex;
    align-items: center;
  }
  
  .color-picker svg {
    margin-right: 8px;
    color: white !important;
    font-size: 1.2rem; 
  }
  
  
  #colorDropdown{
    display: none !important;
  }